<main>
    {{#if messages.error}}
    <section class="notifications">
        <p class="notification-message">{{messages.error}}</p>
    </section>
    {{/if}}
    <table class="expenses-info">
        <thead>
            <tr>
                <th colspan="2">Expenses</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Total Amount:</td>
                <td>{{usersAmount}} BGN</td>
            </tr>
            <tr>
                <td>Total Merches</td>
                <td>{{expenses.totalMerches}} BGN</td>
            </tr>
        </tbody>
    </table>

    <div class="current-amount">
        <p>Available amount: <span>{{expenses.availableAmount}} BGN</span></p>
    </div>
</main>